.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  margin: auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-align: center;
}

.section {
  display: block;
  max-width: 480px;
  margin: 20px;
  text-align: left;
}

.player-wrapper {
  width: 480px;
  height: 270px;
}

.react-player {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, .1);
}

.faded {
  color: rgba(0, 0, 0, .5);
}

.footer {
  margin: 20px;
}

.main {
  max-width: 90%;
  width: 780px;
  margin: auto;
}

.hide, .hidden, 
.player-wrapper {
  display: none;
}

.RestartButton {
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.playBtn {
  text-align: center;
}

.ratingBtn {
  width: 75px;
}

img {
  width: 80%;
}